name: Auto Merge Workflow

on: pull_request

jobs:
    auto-merge:
        if: ${{ github.actor == 'dependabot[bot]' }}
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
            - name: Auto Merge PR
              run: gh pr merge "${GITHUB_HEAD_REF}" --merge