name: Run Pytest

on:
    pull_request:
        branches: ["main", "prRequestTest"]
        paths: ["python/**/*.py", ".github/workflows/pytest.yaml"]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Setup Python
              uses: actions/setup-python@v6
              with:
                  python-version: 3.13
            
            - name: Install dependencies
              run: pip install -r python/requirements.txt

            - name: Run pytest
              working-directory: python
              run: pytest